*{
    margin: 0;
    padding: 0;
}

/*MENU*/

.menu__principal__titulo{
    font-family: 'Squada One', cursive;
    text-decoration: none;
    color: black;
    font-size: 35px;
    margin-left: 150px;
}

.menu__principal__titulo:hover{
    color: rgba(0, 0, 0, 0.5);
}
.menu__principal__links{
    margin-right: 40px;
}
.menu__principal__links ul li a{
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 800;
    
}

.menu__principal__links__letters{
    color: black;
}
.menu__principal__links__letters:hover{
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.7);
    
}  
/*MAIN-CAROUSEL*/
.main__carousel__imgs{
    width: 100%;
    height: 800px;
    object-fit: cover;
}

/*MAIN DELIVERY*/

.main__delivery__img{
    width: 863px;
    height: 900px;
    margin: 50px;
    grid-area: imgdelivery;
}

.main__delivery__img__d-flex {
    display: flex;
     }

    .main__delivery__img__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Squada One', cursive;
        font-size: 55px; 
        grid-area: descripciondelivery1;}

        .main__delivery__img__text--modificado1{
            font-family: 'Work Sans', sans-serif;
            font-size: 25px;
            margin-bottom: 0px;
        }

        .main__delivery__img__text--modificado2{
            font-family: 'Work Sans', sans-serif;
            font-size: 18px;
        }
        .icon__delivery{
            width: 300px;
            height: 100px;
        }

/*MAIN PEDIDOS*/
.main__pedidos__titulo{
    font-family: 'Squada One', cursive;
    font-size: 50px;
    margin: 30px;
    text-align: center;
}
.main__pedidos__imgs{
    display: flex;
    flex-direction: row;
   justify-content: center;
}
.main__pedidos__imgs a img{
    margin: 50px;
}

/*MAIN NUESTRO LOCAL*/
.ourlocal{
    display: flex;
    align-items: center;
}

.img__ourlocal{
    margin: 20px 10px 20px 60px;
    width: 900px;
    height: 800px;
    grid-area: imglocal;
}

.main__ourlocal__img__text{
        flex-direction: column;
        justify-content: center;
        font-family: 'Squada One', cursive;
        font-size: 55px;
       margin-bottom: 0px;
       margin-left: 30px;
       grid-area: descripcionlocal1;
}

.main__ourlocal__img__text--modificado{
    font-family: 'Work Sans', sans-serif;
            font-size: 20px;
            margin-top: 0px;
            grid-area: descripcionlocal2;
}

/*MAIN MENU BURGERS*/
.menu__burgers__titulo{
    font-family: 'Squada One', cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    border-bottom: 2px solid orange;
}

.menu__burgers__titulo__fotos1{
    display: flex;
    justify-content: space-around;
}
.menu__burgers__titulo__fotos1 img{
    width: 600px;
    height: 900px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.menu__burgers__titulo__fotos2{
    display: flex;
    justify-content: space-around;
}
.menu__burgers__titulo__fotos2 img{
    width: 600px;
    height: 900px;
}

/*MAIN CONTACTO*/
.main__contacto{
    display: flex;
    flex-direction: row;
    
}

.main__contacto__img img{
    width: 390px;
    height: 450px;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-right: 360px;
    border-radius: 750px;
    
}

.main__contacto h2{
    font-family: 'Squada One', cursive;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;

}

.main__contacto form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 0px;
}


.main__contacto h3{
    color: black;
    font-family: 'Squada One', cursive;
    text-align: center;
    margin: 0px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.main__contacto input, textarea{
    border: 3px solid black;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
}

.main__contacto textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    font-family: 'Work Sans', sans-serif;
}

.btn-send{
    background-color: white ;
    color: black;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
}
.btn-send:hover{
   background-color: rgba(255, 127, 80, 0.5);
}

/*FOOTER*/
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

@media (max-width: 480px) {
    .main__contacto form{
        width: 100%;
    }
}

@media (max-width: 768px) {

    /*CAROUSEL*/
    .main__carousel__imgs{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    /*DELIVERY*/
    .main__delivery__img{
        width: 410px;
        height: 600px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 55px;
    }

    
    .grilla{
        display: grid;
        grid-template-areas: 
        "imgdelivery"
        "descripciondelivery1";
        grid-template-columns: auto;
        grid-template-rows: auto; 
    }
    .main__delivery__img__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Squada One', cursive;
        font-size: 45px;
     text-align: center;}

        .main__delivery__img__text--modificado1{
            font-family: 'Work Sans', sans-serif;
            font-size: 35px;
            margin-bottom: 0px;
        }

        .main__delivery__img__text--modificado2{
            font-family: 'Work Sans', sans-serif;
            font-size: 25px;
        }
        .main__pedidos__titulo{
            font-family: 'Squada One', cursive;
            font-size: 30px;
            margin: 30px;
            text-align: center;
        }
        .main__pedidos__imgs{
            display: flex;
            flex-direction: column;
           
        }
        .main__pedidos__imgs a img{
           margin-left: 130px;
        }

        /*NUESTRO LOCAL*/
        .img__ourlocal{
            margin: 0;
            width: 480px;
            height: 440px;
        }
        .main__ourlocal__img__text{
            display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Squada One', cursive;
                font-size: 50px;
               margin-bottom: 0px;
               text-align: center;
               
        }
        
        .main__ourlocal__img__text--modificado{
            font-family: 'Work Sans', sans-serif;
                    font-size: 20px;
                    
                
        }
        .grilla2{
            display: grid;
            grid-template-areas: 
            "descripcionlocal1"
            "imglocal"
            "descripcionlocal2";
            grid-template-columns: auto;
            grid-template-rows: auto; 
        }

        /*MENU BURGERS*/
        .menu__burgers__titulo__fotos1{
            display: flex;
            flex-direction: column;
        }
        .menu__burgers__titulo__fotos1 img{
            width: 400px;
            height: 550px;
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 50px;
        }
        
        .menu__burgers__titulo__fotos2{
            display: flex;
            flex-direction: column;
        }
        .menu__burgers__titulo__fotos2 img{
            width: 400px;
            height: 550px;
            margin-left: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            
        }
        /*CONTACTO*/
        .main__contacto{
            display: flex;
            flex-direction: column;
            
        }
        
        .main__contacto__img img{
            width: 390px;
            height: 450px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 50px;
            border-radius: 750px;
            
        }
        
        .main__contacto h2{
            font-family: 'Squada One', cursive;
            font-size: 50px;
            margin-top: 30px;
            margin-bottom: 10px;
            text-align: center;
        
        }

}

@media (max-width: 375px) {
    /*MENU PRINCIPAL*/
    .menu__principal__titulo{
        font-family: 'Squada One', cursive;
        text-decoration: none;
        color: black;
        font-size: 18px; 
        
    }

    .menu__principal__titulo img{
        margin-right: -200px;
        margin-top: -8px;
    }


    /*CAROUSEL*/
    .main__carousel__imgs{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    /*DELIVERY*/
    .main__delivery__img{
        width: 300px;
        height: 480px;
        
    }

    
    .grilla{
        display: grid;
        grid-template-areas: 
        "imgdelivery"
        "descripciondelivery1";
        grid-template-columns: auto;
        grid-template-rows: auto; 
    }
    .main__delivery__img__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Squada One', cursive;
        font-size: 45px;
        text-align: center;
        margin-top: 10px;}

        .main__delivery__img__text--modificado1{
            font-family: 'Work Sans', sans-serif;
            font-size: 25px;
            margin-bottom: 0px;
        }

        .main__delivery__img__text--modificado2{
            font-family: 'Work Sans', sans-serif;
            font-size: 20px;
        }
        .main__pedidos__titulo{
            font-family: 'Squada One', cursive;
            font-size: 30px;
            margin: 20px;
            text-align: center;
        }
        .main__pedidos__imgs{
            display: flex;
            flex-direction: column;
           
        }
        .main__pedidos__imgs a img{
            margin-left:  60px;
           
        }

        /*NUESTRO LOCAL*/
        .ourlocal{
            display: flex;
            align-items: center;
        }
        
        .img__ourlocal{
            width: 375px;
            height: 250px;
            
        }
        
        .main__ourlocal__img__text{
                flex-direction: column;
                justify-content: center;
                font-family: 'Squada One', cursive;
                font-size: 45px;
               margin-bottom: 0px;
               
              
        }
        
        .main__ourlocal__img__text--modificado{
            font-family: 'Work Sans', sans-serif;
                    font-size: 20px;
                    margin-top: 0px;
                
        }
        .grilla2{
            display: grid;
            grid-template-areas: 
            "descripcionlocal1"
            "imglocal"
            "descripcionlocal2";
            grid-template-columns: auto;
            grid-template-rows: auto; 
        }

        /*MENU BURGERS*/
        .menu__burgers__titulo__fotos1{
            display: flex;
            flex-direction: column;
        }
        .menu__burgers__titulo__fotos1 img{
            width: 300px;
            height: 500px;
            margin-left: 30px;
            margin-top:10px;
        }
        
        .menu__burgers__titulo__fotos2{
            display: flex;
            flex-direction: column;
        }
        .menu__burgers__titulo__fotos2 img{
            width: 300px;
            height: 450px;
            margin-left: 30px;
            margin-top: 10px;
            
            
        }
        /*CONTACTO*/
        .main__contacto{
            display: flex;
            flex-direction: column;
            
        }
        
        .main__contacto__img img{
            width: 230px;
            height: 250px;
            border-radius: 750px;
            margin: left 10px;
            
        }
        
        .main__contacto h2{
            font-family: 'Squada One', cursive;
            font-size: 50px;
            margin-top: 30px;
            margin-bottom: 10px;
            text-align: center;
        
        }

}


    

